<div class="row">
  <div class="span7 well">
    <h1>Članky</h1>
    <ul><%= render @comedies %></ul>
  </div>

  <div class="span4 well">
    <%= link_to 'Vytvořit nový článek', new_admin_comedy_path %>
  </div>
</div>
