<h1>Výsledky výhledávání pro "<%= @searched_term %>":</h1>

<h2>Komedie podle názvu</h2>
<% if @comedies_by_title.any? %>
  <ul>
    <% @comedies_by_title.each do |comedy| %>
      <li><%= link_to comedy.bilingual_title, comedy_path(comedy) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Žádný výsledek</p>
<% end %>

<h2>Komedie podle popisu</h2>
<% if @comedies_by_text.any? %>
  <ul>
    <% @comedies_by_text.each do |comedy| %>
      <li><%= link_to comedy.bilingual_title, comedy_path(comedy) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Žádný výsledek</p>
<% end %>

<h2>Tagy</h2>
<% if @tags.any? %>
  <ul>
    <% @tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>Žádný výsledek</p>
<% end %>
