<div class="row">
  <div class="col-sm-12">
    <h1>Uživatelský účet</h1>

    <hr>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag '200x250_placeholder.png', class: 'img-fluid' %>
  </div>

  <div class="col-sm-8">
    <h1><%= current_user.name %> (<%= current_user.email %>)</h1>
  </div>
</div>

