<li>
  <div id=<%= "comedy-#{link.id}" %> >
    <b><%= link_to link.uri, admin_link_path(link) %></b> |
    <%= link_to 'Smazat obrázek', admin_link_path(link), method: :delete, class: 'red-text' %>
  </div>
</li>
