<div>
  <h2>
    <% if video.comedy.present? %>
      <%= link_to video.comedy.bilingual_title, comedy_path(video.comedy) %>
    <% else %>
      <%= video.title %>
    <% end %>
  </h2>

  <small>
    <%= l(video.created_at) %> zařadil administrator
  </small>

  <div class="entry">
    <p><%= video_iframe(video) %></p>
  </div>
</div>
