<div class="row">
  <div class="span8 well">
    <h1>Kategorie</h1>
    <ul><%= render @categories %></ul>
  </div>

  <div class="span3 well">
    <%= link_to 'Vytvořit novou kategorii', new_admin_category_path %>
  </div>
</div>
