<div class="span7">
  <h1>Kategorie</h1>
  <ul><%= render @categories %></ul>
</div>

<div class="span4">
  <h4>Vytvořit novou kategorii</h4>
    <%= simple_form_for :category, url: admin_categories_path do |f| %>
      <%= f.input :title %>
      <%= f.submit %>
    <% end %>
</div>
