<div>
  <div>
    <h3>Abecední seznam komedií</h3>
    <div class="comedies-list">
      <ul>
        <% @comedies.each do |comedy| %>
          <li><%= link_to comedy.bilingual_title, comedy_path(comedy) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
