<h2><%= link_to post.title, post_path(post) %></h2>

<small class="post-meta-info">
<%= post.created_at %> | Žádné komentáře | Zařazeno v <%#= post.category.title %>
</small>

<%# <%= image_tag 'Příšerky-s.r.o.1.jpg' %>

<%# <%= post.text %>
