<article>
  <div class="head">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <div class="small"><%= post_meta(post) %></div>
  </div>

  <p>
    <%= raw markdown.render(post.preface) %>
    <%= link_to 'Číst dále a podívat se na obrázky... »', post_path(post) %>
  </p>
</article>
