<%= title @post.title %>
<article>
  <div class="head">
    <h1><%= @post.title %></h1>
    <div class="small"><%= post_meta(@post) %></div>
  </div>

  <p><%= raw markdown.render(@post.text) %></p>
</article>
