// @import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Anaheim|Open+Sans);

$my_purple: rgb(195, 35, 100);
$my_black: #333;

h1, h2, h3, h4, h5, h6 {
  font-family: Anaheim, Open Sans;
  a {
    color: black;
  }
  a:hover {
    color: $my_purple;
  }
}

a {
  color: $my_purple;
}

a:hover {
  color: $my_purple;
  text-decoration: underline;
}

.my_nav {
  a {
    font-family: Anaheim, Open Sans;
    font-size: 1.1em;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-weight: bold;
  }

  a:hover {
    color: $my_purple;
  }
}

.header {
  height: 35px;
  margin-bottom:15px;
  margin-top:10px;
  border-bottom: solid 2px $my_purple;
}

.logo {
  margin-top: -5px;

}

article {
  .head {
    border-bottom: solid 1px $my_black;
    margin-bottom: 5px;
    .small {
      font-size: 0.9em;
      margin-bottom: 3px;
    }
    h2 {
      margin-bottom: 0px;
    }
  }
}

.sad-meme {
  margin-top: 20px;
  margin-bottom: 30px;
}

.pagination {
  margin-top: 30px;
  text-align: center;
}


aside {
  #search-form {
    width: 280px;
  }

  .my-button {
    background-color: $my_purple;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px 8px;
    border: none;
    color: white;
  }

  h5 {
    margin-top: 20px;
  }

  &.admin {
    margin-top: 20px;
  }
}

label.inline {
  display: inline;
  margin-right: 15px;
  white-space: nowrap;
  float: left;
}

.comedy-edit-area {
  height: 120px;
}

.post-text-area {
  height: 400px;
}

.post-text-area {
  height: 120;
}

.inputs {
  border: none;
  padding: 0px;
  margin: 0px;
}

fieldset {
  ol {
    list-style-type: none;
    border: none;
    margin-left: 0px;
  }
}

fieldset.actions {
  border: none;
  padding: 0px;
  margin: 0px;
  ol {
    margin-bottom: 0px;
  }
}

fieldset.choices {
  border: none;
  padding: 0px;
  margin: 0px;
  li {
    float: left;
    width: 110px;
  }

  ol {
    margin-left: 0px;
  }
}
