<li>
  <div id=<%= "comedy-#{image.id}" %> >
    <b><%= link_to image.title, admin_image_path(image) %></b> |
    <%= link_to 'Smazat obrázek', admin_image_path(image), method: :delete, class: 'red-text' %>
  </div>
</li>
