<div class="row">
  <div class="span8 well">
    <h1>Obrázky</h1>
    <ul><%= render @images %></ul>
  </div>

  <div class="span3 well">
    <%= link_to 'Vytvořit nový obrázek', new_admin_image_path %>
  </div>
</div>
