<div class="row panel">
  <div class="large-12 columns">
    <h1>Nový obrázek</h1>
    <%= semantic_form_for :image, url: admin_images_path do |f| %>
      <%= f.input :title %>
      <%= f.input :image, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
