<li>
  <%= content_tag :div, id: "video-#{video.id}" do -%>
    <b><%= link_to video.title, admin_video_path(video) %></b> |
    <%= link_to 'Smazat video', admin_video_path(video), method: :delete, class: 'red-text' %>
  <% end -%>
</li>
