<div class="row">
  <div class="span8 well">
    <h1>Videa</h1>
    <ul><%= render @videos %></ul>
  </div>

  <div class="span3 well">
    <%= link_to 'Vytvořit nové video', new_admin_video_path %>
  </div>
</div>
