<h2><%= link_to comedy.cz_title, comedy_path(comedy) %></h2>

<small class="comedy-meta-info">
<%= comedy.created_at %> | Žádné komentáře | Zařazeno v <%#= comedy.category.title %>
</small>

<%# <%= image_tag 'Příšerky-s.r.o.1.jpg' %>

<%# <%= comedy.text %>
