<div>
  <h2>
    <%= link_to image.comedy.bilingual_title, comedy_path(image.comedy) %>
  </h2>

  <small>
    <%= l(image.created_at) %> zařadil administrator
  </small>

  <div class="entry">
    <%= link_to comedy_path(image.comedy) do %>
      <%= image_tag("comedy_posters/#{image.image_file_name}") %>
    <% end %>
  </div>
</div>
