<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>© 2014 - BláznivéKomedie.cz</p>

      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          Zábava na internetu:
          <%= link_to 'Bezva vtipy', 'http://bezvavtipy.cz' %>
        </ul>
      </div>
    </div>
  </div>
</footer>
