<div id="footer">
  <p>
    © Copyright 2016 - <a href="http://imagineanything.cz">Imagine Anything s.r.o.</a>
    |
    <a href="http://wordpress.org/extend/themes/quickchic" title="QuickChic">QuickChic</a> Design.
  </p>
</div>
